beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.0
et-xmlfile==1.1.0
fpdf==1.7.2
idna==3.4
msal==1.21.0
numpy==1.24.1
openpyxl==3.0.10
pandas==1.5.3
Pillow==9.4.0
pycparser==2.21
PyJWT==2.6.0
pyodbc==4.0.35
python-dateutil==2.8.2
python-power-bi==0.1.2
pytz==2022.7.1
reportlab==3.6.12
requests==2.28.2
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.1
urllib3==1.26.14
