absl-py==1.3.0
altgraph==0.17.2
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
astor==0.8.1
astroid==2.11.3
asttokens==2.0.5
async-generator==1.10
attrdict==2.0.1
attrs==21.4.0
Automat==20.2.0
Babel==2.11.0
backcall==0.2.0
bandit==1.7.4
bce-python-sdk==0.8.74
beautifulsoup4==4.11.1
black==21.7b0
bleach==5.0.0
boto3==1.24.58
botocore==1.27.58
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.2.0
cachy==0.3.0
certifi==2022.9.24
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.1.1
cleo==1.0.0a5
click==8.1.3
constantly==15.1.0
contourpy==1.0.6
crashtest==0.3.1
cryptography==37.0.2
cssselect==1.2.0
cssutils==2.6.0
cycler==0.11.0
Cython==0.29.32
cython-bbox==0.1.3
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.4
Django==3.2
docx==0.2.4
docxcompose==1.3.7
docxtpl==0.16.4
dodgy==0.2.1
dulwich==0.20.46
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fake-useragent==0.1.11
fastapi==0.88.0
fastjsonschema==2.15.3
filelock==3.6.0
fire==0.5.0
flake8==4.0.1
flake8-polyfill==1.0.2
Flask==2.2.2
Flask-Babel==2.0.0
Flask-WTF==1.0.1
fonttools==4.38.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.15.0
google-auth-oauthlib==0.4.6
grpcio==1.51.1
h11==0.13.0
html5lib==1.1
huggingface-hub==0.9.0
hyperlink==21.0.0
identify==2.5.0
idna==3.4
imageio==2.23.0
imgaug==0.4.0
importlib-metadata==4.12.0
incremental==21.3.0
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.9.2
itemadapter==0.7.0
itemloaders==1.0.4
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
Js2Py==0.71
json5==0.9.6
jsonschema==4.16.0
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.13.0
jupyterlab-widgets==1.1.0
keyboard==0.13.5
keyring==23.9.3
kiwisolver==1.4.4
lap==0.4.0
lazy-object-proxy==1.7.1
lmdb==1.4.0
lockfile==0.12.2
lxml==4.9.2
macholib==1.16
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.14.0
MouseInfo==0.1.3
msgpack==1.0.4
multiprocess==0.70.14
mypy==0.950
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysql-connector-python==8.0.29
nbclassic==0.3.7
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.8.8
nodeenv==1.6.0
notebook==6.4.11
notebook-shim==0.1.0
numpy==1.24.1
oauthlib==3.2.2
openai==0.25.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.1.0
packaging==22.0
paddle-bfloat==0.1.7
paddleocr==2.6.1.1
paddlepaddle==2.4.1
pandas==1.5.2
pandas-stubs==1.5.2.221213
pandocfilters==1.5.0
parse==1.19.0
parsel==1.6.0
parso==0.8.3
pathspec==0.10.3
pbr==5.8.1
pdf2docx==0.5.6
peewee==3.15.1
pep8-naming==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkginfo==1.8.3
platformdirs==2.5.2
poetry==1.2.1
poetry-core==1.2.0
poetry-plugin-export==1.0.7
pre-commit==2.18.1
premailer==3.10.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
prospector==1.7.7
Protego==0.2.1
protobuf==3.20.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
PyAutoIt==0.6.5
pyclipper==1.3.0.post4
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.16.0
pydantic==1.10.2
PyDispatcher==2.0.5
pydocstyle==6.1.1
pyee==8.2.2
pyflakes==2.4.0
PyGetWindow==0.0.9
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyjsparser==2.7.1
pylama==8.3.8
pylev==1.4.0
pylint==2.13.7
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
PyMsgBox==1.0.9
PyMuPDF==1.20.2
PyMySQL==1.0.2
pynput==1.7.6
pyobjc==8.5
pyobjc-core==8.5
pyobjc-framework-Accessibility==8.5
pyobjc-framework-Accounts==8.5
pyobjc-framework-AddressBook==8.5
pyobjc-framework-AdServices==8.5
pyobjc-framework-AdSupport==8.5
pyobjc-framework-AppleScriptKit==8.5
pyobjc-framework-AppleScriptObjC==8.5
pyobjc-framework-ApplicationServices==8.5
pyobjc-framework-AppTrackingTransparency==8.5
pyobjc-framework-AudioVideoBridging==8.5
pyobjc-framework-AuthenticationServices==8.5
pyobjc-framework-AutomaticAssessmentConfiguration==8.5
pyobjc-framework-Automator==8.5
pyobjc-framework-AVFoundation==8.5
pyobjc-framework-AVKit==8.5
pyobjc-framework-BusinessChat==8.5
pyobjc-framework-CalendarStore==8.5
pyobjc-framework-CallKit==8.5
pyobjc-framework-CFNetwork==8.5
pyobjc-framework-ClassKit==8.5
pyobjc-framework-CloudKit==8.5
pyobjc-framework-Cocoa==8.5
pyobjc-framework-Collaboration==8.5
pyobjc-framework-ColorSync==8.5
pyobjc-framework-Contacts==8.5
pyobjc-framework-ContactsUI==8.5
pyobjc-framework-CoreAudio==8.5
pyobjc-framework-CoreAudioKit==8.5
pyobjc-framework-CoreBluetooth==8.5
pyobjc-framework-CoreData==8.5
pyobjc-framework-CoreHaptics==8.5
pyobjc-framework-CoreLocation==8.5
pyobjc-framework-CoreMedia==8.5
pyobjc-framework-CoreMediaIO==8.5
pyobjc-framework-CoreMIDI==8.5
pyobjc-framework-CoreML==8.5
pyobjc-framework-CoreMotion==8.5
pyobjc-framework-CoreServices==8.5
pyobjc-framework-CoreSpotlight==8.5
pyobjc-framework-CoreText==8.5
pyobjc-framework-CoreWLAN==8.5
pyobjc-framework-CryptoTokenKit==8.5
pyobjc-framework-DataDetection==8.5
pyobjc-framework-DeviceCheck==8.5
pyobjc-framework-DictionaryServices==8.5
pyobjc-framework-DiscRecording==8.5
pyobjc-framework-DiscRecordingUI==8.5
pyobjc-framework-DiskArbitration==8.5
pyobjc-framework-DVDPlayback==8.5
pyobjc-framework-EventKit==8.5
pyobjc-framework-ExceptionHandling==8.5
pyobjc-framework-ExecutionPolicy==8.5
pyobjc-framework-ExternalAccessory==8.5
pyobjc-framework-FileProvider==8.5
pyobjc-framework-FileProviderUI==8.5
pyobjc-framework-FinderSync==8.5
pyobjc-framework-FSEvents==8.5
pyobjc-framework-GameCenter==8.5
pyobjc-framework-GameController==8.5
pyobjc-framework-GameKit==8.5
pyobjc-framework-GameplayKit==8.5
pyobjc-framework-ImageCaptureCore==8.5
pyobjc-framework-IMServicePlugIn==8.5
pyobjc-framework-InputMethodKit==8.5
pyobjc-framework-InstallerPlugins==8.5
pyobjc-framework-InstantMessage==8.5
pyobjc-framework-Intents==8.5
pyobjc-framework-IntentsUI==8.5
pyobjc-framework-IOSurface==8.5
pyobjc-framework-iTunesLibrary==8.5
pyobjc-framework-KernelManagement==8.5
pyobjc-framework-LatentSemanticMapping==8.5
pyobjc-framework-LaunchServices==8.5
pyobjc-framework-libdispatch==8.5
pyobjc-framework-LinkPresentation==8.5
pyobjc-framework-LocalAuthentication==8.5
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.5
pyobjc-framework-MailKit==8.5
pyobjc-framework-MapKit==8.5
pyobjc-framework-MediaAccessibility==8.5
pyobjc-framework-MediaLibrary==8.5
pyobjc-framework-MediaPlayer==8.5
pyobjc-framework-MediaToolbox==8.5
pyobjc-framework-Metal==8.5
pyobjc-framework-MetalKit==8.5
pyobjc-framework-MetalPerformanceShaders==8.5
pyobjc-framework-MetalPerformanceShadersGraph==8.5
pyobjc-framework-MetricKit==8.5
pyobjc-framework-MLCompute==8.5
pyobjc-framework-ModelIO==8.5
pyobjc-framework-MultipeerConnectivity==8.5
pyobjc-framework-NaturalLanguage==8.5
pyobjc-framework-NetFS==8.5
pyobjc-framework-Network==8.5
pyobjc-framework-NetworkExtension==8.5
pyobjc-framework-NotificationCenter==8.5
pyobjc-framework-OpenDirectory==8.5
pyobjc-framework-OSAKit==8.5
pyobjc-framework-OSLog==8.5
pyobjc-framework-PassKit==8.5
pyobjc-framework-PencilKit==8.5
pyobjc-framework-Photos==8.5
pyobjc-framework-PhotosUI==8.5
pyobjc-framework-PreferencePanes==8.5
pyobjc-framework-PushKit==8.5
pyobjc-framework-Quartz==8.5
pyobjc-framework-QuickLookThumbnailing==8.5
pyobjc-framework-ReplayKit==8.5
pyobjc-framework-SafariServices==8.5
pyobjc-framework-SceneKit==8.5
pyobjc-framework-ScreenCaptureKit==8.5
pyobjc-framework-ScreenSaver==8.5
pyobjc-framework-ScreenTime==8.5
pyobjc-framework-ScriptingBridge==8.5
pyobjc-framework-SearchKit==8.5
pyobjc-framework-Security==8.5
pyobjc-framework-SecurityFoundation==8.5
pyobjc-framework-SecurityInterface==8.5
pyobjc-framework-ServiceManagement==8.5
pyobjc-framework-ShazamKit==8.5
pyobjc-framework-Social==8.5
pyobjc-framework-SoundAnalysis==8.5
pyobjc-framework-Speech==8.5
pyobjc-framework-SpriteKit==8.5
pyobjc-framework-StoreKit==8.5
pyobjc-framework-SyncServices==8.5
pyobjc-framework-SystemConfiguration==8.5
pyobjc-framework-SystemExtensions==8.5
pyobjc-framework-UniformTypeIdentifiers==8.5
pyobjc-framework-UserNotifications==8.5
pyobjc-framework-UserNotificationsUI==8.5
pyobjc-framework-VideoSubscriberAccount==8.5
pyobjc-framework-VideoToolbox==8.5
pyobjc-framework-Virtualization==8.5
pyobjc-framework-Vision==8.5
pyobjc-framework-WebKit==8.5
pyodbc==4.0.35
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyPDF2==2.10.8
pyperclip==1.8.2
pyppeteer==1.0.2
pyquery==1.4.3
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
pytube==12.1.0
pytweening==1.0.4
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywhatkit==5.4
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
queuelib==1.6.2
rapidfuzz==2.13.6
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
requirements-detector==0.7
rsa==4.9
rubicon-objc==0.4.2
s3transfer==0.6.0
sacremoses==0.0.53
scikit-image==0.19.3
scipy==1.9.3
Scrapy==2.6.2
seaborn==0.12.2
selenium==4.1.5
Send2Trash==1.8.0
sentencepiece==0.1.97
service-identity==21.1.0
setoptconf-tmp==0.3.1
shapely==2.0.0
shellingham==1.5.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
snscrape==0.4.3.20220106
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.0
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.22.0
stevedore==3.5.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.1.1
terminado==0.13.3
thop==0.1.1.post2209072238
tifffile==2022.10.10
tinycss2==1.1.1
tldextract==3.3.1
tokenizers==0.12.1
toml==0.10.2
tomli==1.2.3
tomlkit==0.11.5
torch==1.13.0
torchaudio==0.11.0
torchvision==0.14.0
tornado==6.1
tqdm==4.64.1
traitlets==5.1.1
transformers @ git+https://github.com/huggingface/transformers@c55d6e4e10ce2d9c37e5f677f0842b04ef8b73f3
trio==0.20.0
trio-websocket==0.9.2
Twisted==22.4.0
types-pytz==2022.7.0.0
typing_extensions==4.4.0
tzdata==2022.4
tzlocal==4.2
urllib3==1.26.13
virtualenv==20.14.1
visualdl==2.4.1
w3lib==2.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
websockets==10.3
Werkzeug==2.2.2
widgetsnbextension==3.6.0
wikipedia==1.4.0
wrapt==1.14.0
wsproto==1.1.0
WTForms==3.0.1
xattr==0.9.9
xlrd==2.0.1
XlsxWriter==3.0.3
youtube-transcript-api==0.5.0
zipp==3.8.1
zope.interface==5.4.0
